* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*recuerda outline: solid 1px red, asi podre ver como quedan las cosas de mejor manera*/
}

/* 2. Empuja la tarjeta de Misato a la derecha dentro de su espacio */
.izquierda {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

/* Navegación superior */
.barra-nav {
    width: 100%;
    background-color: #3F3F3F;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Contenedor principal flex en 2 columnas */
.contenedor {
    width: 950px;
    margin: 15px auto 0;
    display: flex;
    gap: 30px;
}

.tarjeta {
    width: 180px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.foto-perfil {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.misato {
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

.botonxd {
    width: 100px;
    height: 30px;
    background-color: rgb(0, 123, 255);
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Columna Derecha (Sección de Publicaciones) */
.derecha {
    flex: 1;
}

.title-derecha {
    margin-bottom: 15px;
}

/* Estilo y separación entre tarjetas de publicaciones */
.publicacion {
    background-color: #f5f5f5;
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.encabezado-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.likes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-like {
    background-color: #ffd166;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}